/node_modules
node_modules
/public/uploaded_files
public/uploaded_files
/public/hot
/public/storage
/public/uploaded_files
/storage/*.key
/vendor
vendor
/.env
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
